# Spotify Now Playing
# https://developer.spotify.com/documentation/web-api/reference/get-the-users-currently-playing-track
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# LastFM API (Music stats)
LASTFM_API_KEY=

NEXTAUTH_URL=

# Random string (used for hashing)
# @see https://www.useapassphrase.com/
IP_ADDRESS_SALT=
